/.cache
/.mixin.out
/.sable
/.slim
/.tmp_bop
/.tmp_create
/.tmp_fc
/.pg-native
/assets
/com
/world
/tlm_custom_pack
/Oracle-jdk-21
/mods
/logs
/libraries
/dynamic-data-pack-cache
/PCL
/org
backup.rar
banned-ips.json
banned-players.json
/blusunrize
whitelist.json
usernamecache.json
usercache.json
server_test_out.txt
server_test_err.txt
server.properties
rcon_send.ps1
ops.json
/local
/META-INF
/kubejs/startup_scripts
/data
/config
/dev
/kubejs/assets
creategearsandtavern.mixins.json
/kubejs/data/bop_temp
/kubejs/data/storagedrawers_temp
/kubejs/data/chipped_temp
/cache
crash-reports/
*.bak
config/config/
config/inventory-particles/
config/inventory_particles.json5
config/particlerain/
config/spark/
